.footer {
  width: 100%;
  height: 60px;
  background-color: #000;
  display: flex;
  justify-content: center;
  grid-area: footer;
}

.footer p {
  font-size: 14px;
  color: #fff;

  padding: 25px;
}
